<footer class="footer">
    <p>Copyright © Spec-Coders</p>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/forum">Feedback</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/aboutus">About US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/chatbot">Contact US</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>