<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
    <link rel="stylesheet" href="/css/stylesheet.css" />
    <link rel="icon" href="/img/pic3.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <title>Login</title>
</head>

<body>
    <%- include('partials/header') %>
    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>

                <% if(user){%>
                <li>
                    <a class="nav-link" href="/auth/logout">Logout</a>
                </li>

                <%}else{%>
                <li><a class="nav-link" href="/auth/login">Login</a></li>
                <%}%>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile/complaint">Lodge Complaint</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutus">About Us</a>
                    </li>
                </ul>
            </div>
        </nav>

            <section>
                <center>
                    <div class="form col-md-3">
                        <div id="headline1">
                            <div class="img_txt">
                                <img src="/img/login_header.png" />
                                <p class="title">
                                    Student/Complainant Login
                                </p>
                            </div>
                            <div class="login_div">
                                <p>Login Using</p>
        
                                <form>
                                    <a class="google-btn" href="/auth/google">Google+</a><br>
                                    <br>
                                    
                                    <a class="google-btn" href="/adminLogin">Admin Login</a><br>
                                </form>

                            </div>
                        </div>
                    </div>
                </center>
            </section>

        <%- include('partials/footer') %>

</body>

</html>